/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@600&display=swap');

/* common sections */
body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 100px;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.button{
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #e8e8e8;
    border: 1px solid #35bed052;
}
.button:hover{
    background-color: rgba(0, 217, 255, 0.692);
    color: white;
}

.fa-check-circle{
    color: #0898eb;
}
/* packages section */

.focus-pack {
   border-radius:20px;
   position: relative;
   -webkit-border-radius:20px;
   -moz-border-radius:20px;
   -ms-border-radius:20px;
   -o-border-radius:20px;
}
.package-hot{
    position: absolute;
    top: -10px;
    right: 0px;
    border-radius: 22px;
    font-size: 10px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}
.button-plan{
    background-color:rgba(211, 43, 211, 0.801);
}

/* Clients area */
.card-image img{
    width: 100px;
}
